@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

.App {
  text-align: center;
  max-height: 99vh;
  margin: 0 auto;
  width:45vh;
  font-family: 'Work Sans', sans-serif;
}

.header {
  padding: 2.5vh 0;
  min-height: 10vh;
  vertical-align: middle;
  text-align:center;
  color: white;
  width:45vh;
  margin: 0 auto;
}

.title {
  font-size: 5vh;
  font-weight: 600;
  margin: 0;
  text-shadow: 6px 6px 0px rgba(0,0,50,0.2) ;
}

.desc{
  margin:0;
  font-weight: 300;
  font-size: 2.4vh;
}

.container{
  border-radius: 10px;
  margin:0 auto;
}

.pictures{
  display:flex;
  flex-direction: row;
  justify-content: space-around
}


h1{
  font-size: 4vh;
}

h2{
  font-size: 2.8vh;
  font-weight: 300;
}

.mom h4, .dad h4{
  color:red;
  font-size: 3vh;
  font-weight: 600;
  text-shadow: 8px 7px 5px rgba(0,0,10,0.2) ;
  margin:auto;
  align-self: center; 
}

.child h4{
  vertical-align: middle;
  text-align:center;
  color:red;
  padding-top:0.35vh;
  font-size: 2.6vh;
  font-weight: 300;
  text-shadow: 8px 7px 5px rgba(0,0,10,0.2) ;
  margin: auto;
}

h3{
  padding-top:1.5vh;
  font-size: 2.4vh;
  font-weight: 600;
  color:royalblue;
  text-shadow: 8px 7px 5px rgba(0,0,10,0.2) ;
  clear:both;
  margin:auto;

}

p{
  margin:2px;
  color:lightgray;
  font-weight: 300;
  font-size: 1.5vh;

}


#mom, #dad, #child{
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid gray;
  background:rgb(90,90,92);
  width: 13vh;
  height: 13vh;
  margin-top: 0.5vh;
  left:0;
  -webkit-box-shadow:2px 4px 6px #888888;
  -moz-box-shadow:2px 4px 6px #888888;
  box-shadow:2px 4px 6px #888888;
}

.mom,.dad, .child{
  width: 15vh;
margin:0 auto;
background-color: white;
border-radius: 10px;
}
