@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/* #root{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:85vh;
  width: 94vmin;
  margin: 0 auto;
  padding-right:0 2vmin;
  margin-left:-0.5vmin;

} */

@media screen and (orientation:landscape) {
.App {
  text-align: center;
  margin: 0 auto;
  width:96vmin;
  font-family: 'Work Sans', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center; */

}

.header {
  padding: 2.5vh 0;
  min-height: 10vh;
  vertical-align: middle;
  text-align:center;
  color: white;
  width:96vmin;
  margin: 0 auto;
}

.title {
  font-size: 6vh;
  font-weight: 600;
  margin: 0;
  text-shadow: 6px 6px 0px rgba(0,0,50,0.2) ;
}

.desc{
  margin:0;
  font-weight: 300;
  font-size: 3vh;
}

.container{
  border-radius: 10px;
  margin:0 auto;
  width:96vmin;
}

.pictures{
  display:flex;
  flex-direction: row;
  justify-content: space-around
}


h1{
  font-size: 4vmin;
}

h2{
  font-size: 4vmin;
  font-weight: 300;
}

.mom h4, .dad h4{
  color:orangered;
  font-size: 6vmin;
  font-weight: 600;
  text-shadow: 7px 6px 8px rgba(0,0,10,0.2) ;
  margin:auto;
  align-self: center; 
}

.child h4{
  vertical-align: middle;
  text-align:center;
  color:orangered;
  padding-top:0.35vh;
  font-size: 5vmin;
  font-weight: 300;
  text-shadow: 7px 6px 8px rgba(0,0,10,0.2) ;
  margin: auto;
}

h3{
  padding-top:1.5vmin;
  font-size: 4vmin;
  font-weight: 600;
  color:#517fa4;
  text-shadow: 7px 6px 5px rgba(0,0,10,0.2) ;
  clear:both;
  margin:auto;
}

p{
  margin:2px;
  color:lightgray;
  font-weight: 300;
  font-size: 1.8vmin;
}


#mom, #dad, #child{
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid gray;
  background:rgb(90,90,92);
  width: 26vmin;
  height: 26vmin;
  margin-top: 3vmin;
  left:0;
  -webkit-box-shadow:2px 4px 6px #888888;
  -moz-box-shadow:2px 4px 6px #888888;
  box-shadow:2px 4px 6px #888888;
}

.mom,.dad, .child{
  width: 32vmin;
margin:0 auto;
background-color: white;
border-radius: 15px;
}
}

/* 
////////////////////////////////////////
            portrait & mobile 
////////////////////////////////////////
*/

@media screen and (orientation: portrait) {

#root{
  height:100vh;
  margin: 0;
  padding:0;
}

  .App {
    text-align: center;
    margin: 0 auto;
    width:100%;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .header {
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    padding: 0;
    min-height: 11vh;
    vertical-align: middle;
    text-align: center;
    color: white;
    width:100%;
    margin: 0;
  }

  .footer{
    position:absolute;
    bottom:2vh;
    width: 96%;
    margin:0 auto;
  }
  
  .title {
    font-size: 6vh;
    font-weight: 600;
    margin: 0;
    text-shadow: 6px 6px 0px rgba(0,0,50,0.2) ;
  }
  
  .desc{
    margin:0;
    font-weight: 300;
    font-size: 3vh;
  }
  
  .container{
    position:absolute;
   left:0;
   right:0;
   margin:auto 0;
    width:100%;
  /* height: 50vh;  
   max-height: 55vh; */
    /* bottom:0; */
    top:28vh;
  }
  
  .pictures{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

  }
  
  
  h1{
    font-size: 4vw;
  }
  
  h2{
    font-size: 4vw;
    font-weight: 300;
  }
  
  .mom h4, .dad h4{
    color:orangered;
    font-size: 6vmin;
    font-weight: 600;
    text-shadow: 7px 6px 8px rgba(0,0,10,0.2) ;
    margin:auto;
    align-self: center; 
  }
  
  .child h4{
    vertical-align: middle;
    text-align:center;
    color:orangered;
    padding-top:0.35vh;
    font-size: 5vw;
    font-weight: 300;
    text-shadow: 7px 6px 8px rgba(0,0,10,0.2) ;
    margin: auto;
  }
  
  h3{
    padding-top:1.5vmin;
    font-size: 4vmin;
    font-weight: 600;
    color:#0336FF;
    text-shadow: 7px 6px 5px rgba(0,0,10,0.2) ;
    clear:both;
    margin:auto;
  }
  
  p{
    margin:2px;
    color:lightgray;
    font-weight: 300;
    font-size: 1.8vmin;
  }
  
  
  #mom, #dad, #child{
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid gray;
    background:rgb(90,90,92);
    width: 32vmin;
    height: 32vmin;
    margin-top: 3vmin;
    left:0;
    -webkit-box-shadow:2px 4px 6px #888888;
    -moz-box-shadow:2px 4px 6px #888888;
    box-shadow:2px 4px 6px #888888;
  }
  
  .mom,.dad, .child{
    width: 33%;
  background-color: white;
  border-radius: 15px;
  }
  }
  