@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

@media screen and (orientation:landscape) {
body{
	font-family: 'Work Sans', sans-serif;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
}

@media screen and (orientation:portrait) {
body{
	font-family: 'Work Sans', sans-serif;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  height: 100%;
  width:96%;
}
}
