@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (orientation:landscape) {
  .container{
    transform: scale(1.5);
    transform-origin: top;
  }
  .header{
    transform: scale(1.2);
    transform-origin: top;
    height: 14vh;
  }
}